<ion-header-bar class="bar-calm">
      <h1 class="title">Champions</h1>

</ion-header-bar>

<ion-content>
	<ion-refresher pulling-text="Pull To Refresh" refreshing-text="loading..." on-refresh="loadChamp()">
	</ion-refresher>

	<ion-list id="mainList">
	<!-- <ion-toggle ng-model="shouldShowDelete">
  Show Delete?
</ion-toggle> -->
	<ion-item ng-repeat="item in data" id="listChampions" class="item item-thumbnail-left">
	 
	<img data-ng-src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/{{item.image.full}}" alt"champion image">
<!-- 	<h2>{{post.title}}</h2>
	<p>{{post.excerpt}}</p> -->
	<h2 data-ng-bind-html="item.name"></h2>	
	<p data-ng-bind-html="item.title"></p>
	<h3>{{item.tags[0]}}</h3>
	<a href="#/details/{{item.id}}" class="button">Spells</a>
	<a href="#/skins/{{item.id}}"class="button">Skins</a>

	 <!--        <ion-option-button class="button-calm" ng-click="remove(item)">
          Delete
        </ion-option-button> -->
	</ion-item>
	</ion-list>

</ion-content>
<ion-footer-bar class="bar-stable">

</ion-footer-bar>
